#T-level{
  background-color: #eee;
}

#C-level{
  border-radius: 25px;
}

#navBar {
  float: left;
}

#bdy {
  margin-left: 5%;
}

#searchContainer{
  position:absolute;
  top:10vh;
  right: 10px;
}

#cardFoot{
  background-color: #D3D3D3;
}

#abar{
  background-color: #D3D3D3;
}

